@font-face {
	font-family: 'NotoSansCJKkr-Medium';
	src : url(../fonts/NotoSansCJKkr-Medium.otf) format('truetype');
}

html, body {
	font-family : NotoSansCJKkr-Medium;
	font-weight : bolder;
	height: 100%;
	width : 100%;
}

.rankingBox {
	position : fixed;
	top : 20px;
	left : 5%;
	width: 300px;
	padding:15px 30px;
	border-radius: 20px;
	background: #ffffff;
	box-shadow:  20px 20px 60px #d9d9d9, 
	             -20px -20px 60px #ffffff;
}

.rankingTitle {
	font-size : 30px;
}

.rankingContent {
	font-size : 20px;
	padding : 10px 50px;
	list-style-type:none;
}

.categories {
	position : absolute;
	top : 60%;
	left : 5%;
}

.circularButton {
	font-weight : bold;
	width : 100px;
	border: none;
    color: black;
    padding: 40px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 20px 2px;
    border-radius: 50%;
	background: #ffffff;
	box-shadow:  15px 15px 29px #d9d9d9, 
             -15px -15px 29px #ffffff;
}

.chickenBtn {
	position: fixed;
}

.cafeBtn {
	position: fixed;
	top: 70%;
}

.dduckBtn {
	position: fixed;
	top: 80%;
}

.selected {
	color : tomato;
}

.seoulMap {
	font-size: 30px;
	position : absolute;
	top : 10%;
	left : 40%;
	padding : 50px;
	border-radius: 50px;
	background: #ffffff;
	box-shadow:  20px 20px 60px #d9d9d9, 
	             -20px -20px 60px #ffffff;
}

.statsItemName {
	font-size : 15px;
}

.statsItemBar {
	background: linear-gradient(to right, orange 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	width: calc(var(--w)/0.8);
	height:10px;
	border-radius: 50px;
	padding : 10px;
	-webkit-transition: all 0.5s ease;
 	-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.active {
	background-position: left bottom;
}

.unselected {
	display : none;
}

.statsItemSize {
	display : block;
}
